.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 34px;
  padding-inline: 10px;

  @include text-medium;
  
  color: $button-color;
  border-radius: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0);

  background-color: $accent-color;

  @include hover(background-color, $accent-hvr-color);
}

.loading {
  opacity: 0.5;
}

.fitContent {
  width: fit-content;
}

.secondary {
  border-color: var(--border-color);
  background-color: var(--button-bg);

  color: var(--primary-color);

  @include hover(background-color, var(--button-hover));
}

