@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-desktop {
  @media(min-width: 768px) {
    @content;
  }
}

@mixin dark-theme {
  :global(html.dark) & {
    @content;
  }
}

@mixin fade-in-animation {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
};

@mixin page-container {
  padding: 32px 16px;

  @include on-desktop {
    padding-inline: 32px;
  }
}

@mixin surface-block($borderRadius: 10px) {
  background-color: var(--surface-color);
  border: 0.8px solid var(--border-color);
  border-radius: $borderRadius;
}

@mixin flex-row($gap: 8px) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin text-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
