:root {
  --primary-color: #0a0a0a; //lab(2.75381 0 0)
  --secondary-color: #737373; //lab(48.496 0 0)

  --background-color: #fff;
  --surface-color: #fff;
  --accent-surface: #e9f2ff; //lab(95.283 -0.740796 -7.47542)
  --on-accent: #004396; //lab(28.7235 12.9039 -52.607)

  --error-color: #eb0005;
  --error-bgc: #e7000b1a;
  --border-color: #e5e5e5; //lab(90.952 0 -0.0000119209)
  --button-hover: #f5f5f5;

  --form-field-color: #fff;
  --background-hover: #f5f5f5; //lab(96.52 -0.0000298023 0.0000119209);

  --light-gray-color: #ccced2;

  --requirement-bgc: #f5f5f599;
}

html.dark {
  --primary-color: #fafafa; //lab(98.26 0 0)
  --secondary-color: #a1a1a1; //lab(66.128 -0.0000298023 0.0000119209)

  --background-color: #0a0a0a;
  --surface-color: #171717;
  --accent-surface: #132e4c; //lab(18.3675 1.31626 -21.3688)
  --on-accent: #ccdff9; //lab(88.2297 -1.19156 -14.8108)

  --error-color: #ff6466;
  --error-bgc: #ff64671a;
  --border-color: #ffffff1a; //lab(100 0 0 / 0.1)
  --button-hover: #26262680;
  --form-filed-color: #0a0a0a;
  --background-hover: #ffffff13;

  --light-gray-color: #ccced262;

  --requirement-bgc: #26262699;
}
