.passwordField {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.requirementsList {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 12px;
  background-color: var(--requirement-bgc);
  border-radius: 10px;
}

.requirement {
  @include flex-row;

  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-color);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: var(--border-color);
}

.checked {
  color: var(--primary-color);

  & > .circle {
    background-color: $accent-color;
  }
}
