.themeSwitcher {
  --background-color: transparent;
  --background-hover: #f5f5f5;

  @include dark-theme {
    --background-color: #ffffff0b;
    --background-hover: #ffffff13;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30.4px;
  height: 30.4px;

  border-radius: 10px;
  border: 0.8px solid var(--border-color);

  background-color: var(--background-color);

  @include hover(background-color, var(--background-hover));
}
